.top-nav {
  background-color:#000;
  border-top: #C20F2F solid 2px;
  border-bottom: #a3383813 solid 1px;
  color: #faf9f9;
}

.nav-spacer {
  flex: 1 1 auto;
}

.user-button {
  left: 86px;
  background-color: rgb(21 21 21 / 87%);
}

.search {
  margin-right: 1rem;
  font-size: small;
  margin-top: 11px;
}

.back {
margin-right: 2rem;
}

@media only screen and (max-width: 600px) {

  .search {
    display: none;
  }
  
  .sidenav {
    display: none;
  }

  .user-button {
    display: none;
  }

  .back {
    display: none;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}