<mat-toolbar style="background-color:#faf9f9;" *ngIf="nav.visible">

    <span>
        <!-- <img src="/smd.jpg"> -->
    </span>
    
    <button mat-icon-button  style="color:#faf9f9;">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button aria-label="icon-button with share icon">
        <mat-icon>search</mat-icon>
    </button>

    <span class="nav-spacer"></span>

    <!-- <button mat-icon-button aria-label="icon-button with share icon">
        <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="notifications" aria-label="icon-button with share icon">
        <mat-icon matBadge="15" matBadgeColor="primary">notifications</mat-icon>
    </button>
    <mat-menu #notifications="matMenu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Edit Profile</span>
        </button>
        <button mat-menu-item>
            <mat-icon>close</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu> -->
    <span *ngIf="userEmail" style="font-size: 14px;">{{ userName }} </span>
    
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="profule" (click)="returnEmail()">
        <mat-icon>person_pin</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openProfile()">
            <mat-icon>person</mat-icon>
            <span>My Account</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>lock_person</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
    
</mat-toolbar>
  