<mat-toolbar class="top-nav" *ngIf="nav.visible">
    <span routerLink="/">
        <img src="../../../assets/img/smd.png" height="97">
    </span>
    
    <button *ngIf="showIcons" id="user" mat-icon-button (click)="goBack()" class="user-button">
        <mat-icon matTooltip="Go back">arrow_back</mat-icon>
    </button>

    <button *ngIf="showIcons" id="user" mat-icon-button (click)="goForward()" class="user-button">
        <mat-icon matTooltip="Go foward">arrow_forward</mat-icon>
    </button>

    <span class="nav-spacer"></span>

    <span class="menu-item" routerLink="/">Products</span>
    <span class="menu-item" routerLink="products/product-manager">My Products</span>
    <span class="menu-item" routerLink="brands/manage-brands">Brands</span>
    <span class="menu-item" (click)="openProfile()">{{userName}}</span>
    <span class="menu-item" (click)="logout()">Log out</span>
    
    <!-- routerLink= -->
    <form (keydown.enter)="search()">
        <mat-form-field appearance="outline" color="primary" class="search">
            <mat-label>Search SKU</mat-label>
            <input matInput placeholder="Search Product" id="searchQ">
            <mat-icon matSuffix (click)="search()">search</mat-icon>
        </mat-form-field>   
    </form>

    
    <i class="material-icons" id="slow-connection" style="color: orange; display: none;" matTooltip="Poor internet connection">signal_wifi_statusbar_connected_no_internet_4</i>
    <i class="material-icons" id="no-connection" style="color: red; display: none;" matTooltip="No signal">signal_wifi_connected_no_internet_4</i>
    <i class="material-icons" *ngIf="devMode" style="color: orange; cursor: pointer;" matTooltip="Development Mode" (click)="goBack()">logo_dev</i>

</mat-toolbar>
  