<div class="container">

    <div class="my-5">
        <div class="card-body p-0" *ngIf="!resettingPassword">
            <div class="p-5">        
                <div *ngIf="!submitted">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                    </div>
                    <form class="user" [formGroup]="userForm">
                        <div class="form-group" style="text-align: center;">
                            <mat-form-field appearance="outline" style="width: 30%;">
                                <mat-label>Enter Your Email</mat-label>
                                <input matInput type="email" formControlName="email" placeholder="Email">
                            </mat-form-field><br>
                            <button mat-raised-button style="width: 30%; text-align: center;" type="submit" color="warn" (click)="submitEmail()">Submit</button>
                        </div>
                        <div class="text-center">
                            <br>
                            <a class="small" routerLink="/login">Cancel</a>
                        </div>
                    </form>
                </div>
                <div *ngIf="submitted">
                    <div class="text-center">
                        <img src="../../../assets/icons/email.gif" height="99" class="mx-2">
                        <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                        <small>A password reset link has been sent to your email. Please check your inbox.</small>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="card-body p-0" *ngIf="resettingPassword">
            <div class="p-5">        
                <div *ngIf="!submitted">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                        <img src="../../../assets/img/smd.png" height="99" class="mx-2">
                    </div>
                    <form class="user">
                        <div class="form-group" style="text-align: center;">
                            <mat-form-field appearance="outline" style="width: 30%;">
                                <mat-label>Enter New Password</mat-label>
                                <input matInput [(ngModel)]="newPassword" name="newPassword" type="password" placeholder="Password">
                            </mat-form-field><br>
                            <mat-form-field appearance="outline" style="width: 30%;">
                                <mat-label>Verify Password</mat-label>
                                <input matInput [(ngModel)]="verifyNewPassword" name="verifyNewPassword" type="password" placeholder="Verify Password" (keyup)="verify()">
                            </mat-form-field><br>
                            <button [disabled]="!submitNewPasswordBtn" mat-raised-button style="width: 30%; text-align: center;" type="submit" color="warn" (click)="submitPassword()">Submit</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="submitted">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                        <small>A password reset link has been sent to your email</small>
                    </div>
                    <form class="user" [formGroup]="userForm">
                        <button mat-raised-button style="width: 30%;" type="submit" color="warn" (click)="backToLogin()">Back to Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>