
<p><a routerLink="/">Products</a> / Add New {{ newProductType }}</p>
<div class="row">
  <div class="col-md-9">
    <mat-card>
      <mat-tab-group [(selectedIndex)]="activeTabIndex">
        <mat-tab label="1. General">
          <form [formGroup]="newProductForm">
            <div class="mt-5 custom-tab" style="overflow: hidden !important;">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width: 90%;" *ngIf="newProductType == 'product'">
                    <mat-label>SKU</mat-label>
                    <input #sku matInput formControlName="sku" placeholder="Product Code / SKU" (keyup)="checkSku($event)">
                    <div *ngIf="invalidSku" class="invalid">Enter a valid SKU</div>
                    <div *ngIf="!invalidSku" class="valid">✔</div>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>Product Name</mat-label>
                    <input #name matInput formControlName="name" placeholder="Enter Product Name" (keyup)="checkProductName($event)">
                    <mat-hint *ngIf="similarProduct">⚠ There is already a product with this name.</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>Product Brand</mat-label>
                    <mat-select #brand matInput formControlName="brand_type_id">
                      <mat-option *ngFor="let type of typesList | typeGroup : 'Brand'" value="{{ type.id }}">{{ type.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field *ngIf="newProductType == 'product'" style="width: 90%;" appearance="outline">
                    <mat-label>Short Description</mat-label>
                    <textarea #short_description rows="7" matInput formControlName="short_description" placeholder="Enter short product description"></textarea>
                  </mat-form-field>
                  <mat-form-field style="width: 90%;" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea #description rows="15" matInput formControlName="description" placeholder="Enter product description..."></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-6">

                  <div *ngIf="newProductType == 'linked-product' || newProductType == 'presentation'">
                    <mat-form-field appearance="outline">
                      <mat-label>Search Product</mat-label>
                      <input type="text" placeholder="Enter SKU" aria-label="Number" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
                      <mat-autocomplete (optionSelected)="addToBundle($event)" #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" *ngFor="let sku of newPamphletSKUs" style="margin-bottom: 1rem;">
                      <mat-label>Selected Product</mat-label>
                      <input type="text" placeholder="Search SKU" aria-label="Number" matInput value="{{sku}}" readonly>
                      <mat-icon matSuffix (click)="removeFromBundle(sku)">delete</mat-icon>
                      <mat-hint><a target="_blank" href="https://products.smdtechnologies.com/{{sku}}">View this product</a></mat-hint>
                    </mat-form-field>
  
                    <button *ngIf="newProductType == 'linked-product'" type="submit" style="float: right;" mat-raised-button type="submit" color="primary" (click)="saveBundleProduct('Pamphlet')">Save New {{ newProductType }}</button>
                    <button *ngIf="newProductType == 'presentation'"type="submit" style="float: right;" mat-raised-button type="submit" color="primary" (click)="saveBundleProduct('Presentation')">Create {{ newProductType }}</button>
                  </div>

                  
                  <div class="m-3" *ngIf="newProductType == 'product'">
                    <mat-checkbox #is_in_development formControlName="is_in_development">Is in development</mat-checkbox><br>
                    <mat-checkbox #is_eol formControlName="is_eol">Is EOL</mat-checkbox><br>
                    <mat-checkbox #is_active formControlName="is_active">Is Active</mat-checkbox><hr>
                    <!-- <button *ngIf="parent == true" mat-raised-button type="submit" color="primary" (click)="saveProduct()">Save New Product</button> -->
                    <button type="submit" [disabled]="!newProductForm.dirty || invalidSku" mat-raised-button type="submit" color="primary" (click)="saveProduct()">Save New {{ newProductType }}</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-tab>
        <mat-tab disabled label="2. Select Categories">
          <div class="mt-5 custom-tab" style="overflow: hidden !important;">
            <form>
              <div class="row form-border">
                <div class="col-md-6" style="background-color: rgb(241, 241, 241);">
                  
                  <!-- <mat-selection-list #categories required>
                    <mat-spinner color="accent" [diameter]="30" *ngIf="categoriesLoader == true" class="m-4"></mat-spinner>
                      <mat-list-option *ngFor="let category of categoriesList" [value]="category.id">
                        {{category.name}}
                      </mat-list-option>
                  </mat-selection-list> -->

                  <section class="categories-section">
                    <ul>
                      <li class="categories-list" *ngFor="let category of categoriesList | parent: '0'" >
                        <span>
                          <mat-checkbox (click)="checkedItem(category.id)">{{ category.name }}</mat-checkbox>
                        </span>
                        <span>
                          <ul>
                            <li class="categories-list" *ngFor="let child_1 of categoriesList | parent: category.id">
                              <mat-checkbox (click)="checkedItem(child_1.id)">{{ child_1.name }}</mat-checkbox>
                              <ul>
                                <li class="categories-list" *ngFor="let child_2 of categoriesList | parent: child_1.id">
                                  <mat-checkbox (click)="checkedItem(child_2.id)">{{ child_2.name }}</mat-checkbox>
                                  <ul>
                                    <li class="categories-list" *ngFor="let child_3 of categoriesList | parent: child_2.id">
                                      <mat-checkbox (click)="checkedItem(child_3.id)">{{ child_3.name }}</mat-checkbox>
                                      <ul>
                                        <li class="categories-list" *ngFor="let child_4 of categoriesList | parent: child_3.id">
                                          <mat-checkbox (click)="checkedItem(child_4.id)">{{ child_4.name }}</mat-checkbox>
                                          <ul>
                                            <li class="categories-list" *ngFor="let child_5 of categoriesList | parent: child_4.id">
                                              <mat-checkbox (click)="checkedItem(child_5.id)">{{ child_5.name }}</mat-checkbox>
                                              <ul>
                                                <li class="categories-list" *ngFor="let child_6 of categoriesList | parent: child_5.id">
                                                  <mat-checkbox (click)="checkedItem(child_6.id)">{{ child_6.name }}</mat-checkbox>
                                                </li>
                                              </ul>
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </span>
                      </li>
                    </ul>   
                  </section>

                </div>
                <div class="col-md-6">
                  <div *ngIf="newProductId!=0">
                    <button mat-raised-button type="submit" color="primary" (click)="saveCategories()">Save Categories</button>
                  </div>
                  <div *ngIf="newProductId==0">
                    <p><mat-icon>warning</mat-icon> Please save product first.</p>
                    <button mat-raised-button disabled>Save Categories</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab disabled label="3. Attributes">
          <div class="mt-5 custom-tab form-border" style="overflow: hidden !important;">
            <ul>
              <li *ngFor="let x in attributesFields">{{x.attrName}}</li>
            </ul>
            
            <form [formGroup]="newProductFormAttributes">
              <ng-container formArrayName="attributes">
                <ng-container *ngFor="let x of attributes.controls; let index = index">
                    <div [formGroupName]="index">
                        <mat-grid-list cols="3" rowHeight="80px">
                            <mat-grid-tile>
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Attribute Name</mat-label>
                                    <input matInput id="attrName" type="text" formControlName="attrName" placeholder="Enter Value" required readonly>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Attribute Value</mat-label>
                                    <input matInput id="attrValue" type="text" formControlName="attrValue" placeholder="Enter Value" required>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <!-- <button class="mb-3" mat-raised-button type="button" (click)="removeNewAttribute(index)" color="warn"><mat-icon>delete</mat-icon> Remove This Field</button> -->
                            </mat-grid-tile>
                        </mat-grid-list>                
                    </div>
                </ng-container>
              </ng-container>
              <!-- <button mat-raised-button type="button" color="accent" (click)="addNewAttribute()" style="margin-left: 1rem;">
                <mat-icon>add_circle_outline</mat-icon>
                Add Attribute
              </button> -->
              <div *ngIf="attrCount > 0">
                <hr>
                <button mat-raised-button type="submit" color="primary" (click)="saveAttributes('new')" style="margin-left: 1rem;">{{saveAttrBtnText}}</button>
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab disabled label="4. Packaging">
          <form [formGroup]="newProductFormPackaging">
            <div class="mt-5 custom-tab" style="overflow: hidden !important;">
              <div class="row form-border">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Choose Packaging Type:</mat-label>
                    <mat-select name="packaging_type_id" formControlName="packaging_type_id">
                        <mat-option [value]="type.id" *ngFor="let type of typesList | typeGroup : 'Packaging'">
                            {{ type.name }}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Weight (KG)</mat-label>
                    <input matInput formControlName="weight" placeholder="Enter Product Weight">
                    <mat-icon matSuffix>fitness_center</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Dimensions(cm): Length</mat-label>
                    <input matInput formControlName="length" placeholder="Enter Product Length">
                    <mat-icon matSuffix>design_services</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Dimensions(cm): Width</mat-label>
                    <input matInput formControlName="width" placeholder="Enter Product Width">
                    <mat-icon matSuffix>design_services</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Dimensions(cm): Height</mat-label>
                    <input matInput formControlName="height" placeholder="Enter Product Height">
                    <mat-icon matSuffix>design_services</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <div class="m-3">
                    <input type="hidden" formControlName="product_id">
                    <button type="submit" [disabled]="!newProductFormPackaging.dirty" mat-raised-button type="submit" color="primary" (click)="savePackaging()">Save Packaging</button>  
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-tab>
        <mat-tab disabled label="5. Upload Files">
          <div class="mt-5 custom-tab" style="overflow: hidden !important;">
            <div class="row">
              <div class="col-md-4">
                <select class="form-control" (change)="setFocusType($event)">
                  <option *ngFor="let type of typesList | typeGroup : 'File'" value="{{ type.id }}">{{ type.name }}</option>
                </select><br>
                <input class="form-control" type="file" (change)="onChange($event)" multiple><br>
                <button mat-raised-button color="primary" (click)="onUpload('55')">Upload File</button>
                <hr>
                <div class="container" *ngIf="loading">
                  <h3>Loading ...</h3>
                </div>
                <div class="progress" style="height:10px;width:100%;">
                  <div class="progress-bar bg-success" [style]="uploadProgressBar"></div>
                </div>
                <div *ngIf="messages.length" class="message">
                  <ul *ngFor="let msg of messages; let i = index">
                    <li>{{ msg }}</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-8">
                <ul>
                  <li *ngFor="let file of savedFiles">{{file.name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab disabled label="6. Upload Media">
          <div class="mt-5 custom-tab" style="overflow: hidden !important;">
            <div class="row">   
              <div class="col-md-3">
                <div cdkDropList class="file-list" (cdkDropListDropped)="drop($event)">
                  <div class="file-box" *ngFor="let file of savedFiles" cdkDrag>
                    <div class="row">
                      <div class="col-md-4">
                        <img class="sort-img" alt="{{ file.path }}" src="{{ storageUrl + filePath(file.path) }}"  width="304" height="236">
                      </div>
                      <div class="col-md-8">
                        <!-- <select class="form-control" [(ngModel)]="ft" (change)="updateFileType($event)">
                          <option *ngFor="let type of typesList | typeGroup : 'Image'" value="{{ type.id }}">{{ type.name }}</option>
                        </select> -->

                        <mat-form-field appearance="outline" style="width: 90%;">
                          <mat-label>Image Type</mat-label>
                          <mat-select>
                            <mat-option (onSelectionChange)="updateFileType(file.id, file.type_id)" *ngFor="let type of typesList | typeGroup : 'Image'" value="{{ type.id }}">{{ type.name }}</mat-option>
                          </mat-select>
                        </mat-form-field>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-2" *ngFor="let file of savedFiles">
                    <img class="tile-img" alt="{{ file.path }}" src="{{ storageUrl + filePath(file.path) }}"  width="140" height="160">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-card>
            <div class="row">
              <div class="col-md-4 form-border">
                <!-- <select class="form-control" (change)="setFocusType($event)">
                  <option *ngFor="let type of typesList | typeGroup : 'Image'" value="{{ type.id }}">{{ type.name }}</option>
                </select><br> -->
                <input class="form-control" type="file" (change)="onChange($event)" multiple><br>
                <button mat-raised-button color="primary" (click)="onUpload('47')">Upload Media</button>
              </div>
              <div class="col-md-8">
                <div class="container" *ngIf="loading">
                  <h3>Loading ...</h3>
                </div>
                <div class="progress" style="height:10px;width:100%;">
                  <div class="progress-bar bg-success" [style]="uploadProgressBar"></div>
                </div>
                <div *ngIf="messages.length" class="message">
                  <ul *ngFor="let msg of messages; let i = index">
                    <li>{{ msg }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
      <div>
        <button *ngIf="doneBtn" mat-raised-button type="button" class="switch-tab" color="primary"  routerLink="/">
          Done <mat-icon>check</mat-icon> 
        </button>
        <button [disabled]="!nextBtn" mat-raised-button type="button" class="switch-tab" color="basic" (click)="nextTab()">
          Next <mat-icon>arrow_circle_right</mat-icon> 
        </button>
        <button [disabled]="!nextBtn" mat-raised-button type="button" class="switch-tab" color="basic" (click)="previousTab()">
          <mat-icon>arrow_circle_left</mat-icon> Back
        </button>
      </div>
      
    </mat-card>
  </div>
  <div class="col-md-3">
    <mat-card>
      <h2>
        <strong> {{ newProductName }}</strong>
        <small>{{ newProductSKU }}</small>
      </h2>
    </mat-card>
    <mat-card style="margin-top: 1rem; background-color: rgb(255, 210, 159);" *ngIf="similarProduct">
      <p>⚠ It looks like there is already a brand with the name: <i>{{ similarProduct.name }}</i></p>
      <p>{{ similarProduct.short_description }}</p>
      <img src="https://images.smdtechnologies.co.za/api/store/{{similarProduct.clean_sku}}" onerror="this.src='https://products.smdtechnologies.com/public/storage/files/default.png'" width="45" alt="Photo">
      <span>&nbsp;{{ similarProduct.sku }}</span>
    </mat-card>
  </div>
</div>
