<p>
  <a routerLink="/">Products</a> / Export Products for WordPress
</p>

<div class="row">
<div class="col-md-12 mt-3">
  <mat-form-field appearance="outline" style="width: 30%;">
    <mat-label>Choose Brand to Export:</mat-label>
    <mat-select matInput [(ngModel)]="brand" (selectionChange)="selectBrand($event)">
      <!-- <mat-option value="all">Export all brands</mat-option> -->
      <mat-option *ngFor="let type of types | typeGroup : 'Brand'" value="{{ type.id }}">{{ type.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-12">
  <div class="checkbox-div">
    <mat-checkbox [(ngModel)]="active" color="primary" class="checkbox">Active</mat-checkbox>
    <mat-checkbox [(ngModel)]="eol" color="primary" class="checkbox">EOL</mat-checkbox>
    <mat-checkbox [(ngModel)]="development" color="primary" class="checkbox">In Development</mat-checkbox>
  </div>
  <div class="col-md-12">
    <br />
    <button mat-raised-button type="submit" color="primary" (click)="export()">Export</button>
  </div>
</div>
</div>

