.brands {
  height: 500px;
  overflow-y: auto;
}

.side-menu {
  background-color: #ffffff;
  // background-image: url("../../../../5.jpg");
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
  margin-left: -18px;
  margin-right: -25px;
  padding: 1rem;
}

.menu-item {
  color: #C20F2F;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 0rem;
  background-color: #fafafa;
  border: #f7f7f7 solid 1px;
  margin-bottom: 5px;
}

.menu-item:hover {
color: rgb(61, 45, 45);
background-color: #FAF9F9;
border: rgb(255, 234, 234) solid 1px;
letter-spacing: 3px;
}

.menu-item:focus {
background-color: #ffffff;
border: rgb(240, 203, 203) solid 1px;
}

.brand {
  color: rgb(77, 77, 77);
  text-transform: uppercase;
  font-size: 14px;
  background-color: #ffffff;
}

.brand-button:hover {
background-color: #fad8df;
}

.brand-button:focus {
background-color: #ffe0e6;
}

mat-label {
  color: rgb(107, 107, 107);
}

.profile-link {
color:rgb(98, 224, 255);
text-decoration: none;
}


// SCROLL BAR
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(252, 252, 252); 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8d8d8; 
}

.mat-list-option {
  padding-top: 0rem !important;
}

