<div *ngIf="!loggedIn">
    <div class="side-menu">
        
    </div>
</div>

<div *ngIf="loggedIn">
    <div class="side-menu">
        <div style="text-align: center;">
            <h2 style="color: #000;">{{ userName }}</h2>
            <div style="margin-top: -12px; margin-bottom: 1rem;">
                <a class="profile-link" href="javascript:void(0)"  (click)="openProfile()">Manage Account</a><br> 
                <a class="profile-link" href="#" (click)="logout()">Logout</a>
            </div>
        </div>
        <mat-selection-list #sideMenus [multiple]="false">
            <mat-list-option class="menu-item" routerLink="products/dashboard">
                <h3><img src="../../../assets/icons/dashboard.png" height="30" class="mx-2">Dashboard</h3>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option class="menu-item" routerLink="/">
                <h3><img src="../../../assets/icons/products.png" height="30" class="mx-2">Products</h3>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option class="menu-item" routerLink="categories/manage">
                <h3><img src="../../../assets/icons/categories.png" height="30" class="mx-2">Categories</h3>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option class="menu-item" [matMenuTriggerFor]="usersMenu" *ngIf="authRole">
                <h3><img src="../../../assets/icons/users.png" height="30" class="mx-2">Users</h3>
            </mat-list-option>
            <mat-menu #usersMenu="matMenu">
                <button mat-menu-item routerLink="users/manage">
                    <mat-icon matListIcon>manage_accounts</mat-icon>
                    <span>Manage Users</span>
                </button>
            </mat-menu>
            <mat-divider></mat-divider>

            <mat-list-option class="menu-item" routerLink="brands/manage-brands">
                <h3><img src="../../../assets/icons/brands.png" height="30" class="mx-2">Brands</h3>
            </mat-list-option>
            <mat-divider></mat-divider>

            <mat-list-option class="menu-item" routerLink="admin/settings" *ngIf="settingsRole || adminRole">
                <h3><img src="../../../assets/icons/settings.png" height="30" class="mx-2">Settings</h3>
            </mat-list-option>
        </mat-selection-list>
        
    </div>
    <!-- <form class="search" [formGroup]="searchForm">
        <mat-form-field appearance="legacy" color="accent" style="width: 100%; margin-top: 2rem; text-align: center;">
            <mat-label>Search Brand:</mat-label>
            <input matInput formControlName="query" (keyup)="searchBrand($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </form> -->
    <div class="brands">
        <mat-selection-list #brands [multiple]="false">
            <p *ngIf="brandsLoader" class="brand">Loading brands...</p>
            <mat-list-option class="brand" *ngFor="let brand of listBrands" [value]="brand">
                <button mat-stroked-button class="brand-button" (click)="selectBrand(brand)">
                    {{brand}}
                </button>
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div style="padding-top: 2rem; text-align: center; color: #000;">
        <hr>
        <mat-icon>phone_android</mat-icon><br>
        <h5>Access on mobile</h5>
        <img src='https://products.smdtechnologies.com/public/storage/files/mobile.jpg' width="50" alt="Photo">
        <hr>
    </div>
</div>
