table {
    width: 100%;
    overflow-x: scroll;
}

.mat-row:hover {
    background-color: rgb(243, 243, 243);
}

.mat-column-id {
    width: 25px;
    border-right: 1px solid rgba(255, 134, 53, 0.76);
    margin-right: 12px;
}

.mat-column-thumbnail {
    padding-right: 4px;
    padding-left: 12px;
}

.mat-column-sku {
    width: 8rem;
    padding-left: 3px;
}

.mat-column-parent {
    width: 8rem;
    padding-left: 10px;
}

.mat-column-name {
    width: 10rem;
}

.mat-column-type {
    width: 5rem;
}

.mat-column-brand {
    width: 8rem;
}

.mat-column-description {
    width: 30rem;
}

.inactive {
    color: rgb(206, 206, 206);
}