table {
    width: 100%;
    overflow-x: scroll;
}

.mat-row:hover {
    background-color: rgb(243, 243, 243);
}

.mat-column-id {
    width: 25px;
    border-right: 1px solid rgba(255, 134, 53, 0.76);
    margin-right: 12px;
}

.mat-column-thumbnail {
    width: 26px;
    padding-right: 12px;
    padding-left: 12px;
}

.mat-column-sku {
    width: 10rem;
    padding-left: 3px;
}

.mat-column-parent {
    width: 8rem;
    padding-left: 10px;
}

.mat-column-name {
    width: 30rem;
}

.mat-column-type {
    width: 5rem;
}

.mat-column-brand {
    width: 8rem;
}

.mat-column-description {
    width: 40rem;
}

.mat-column-is_in_development {
    width: 7rem;
}

.mat-column-is_active {
    width: 7rem;
}

.mat-column-is_eol {
    width: 7rem;
}

.mat-column-created_at {
    width: 9rem;
}

.mat-column-updated_at {
    width: 9rem;
}

.inactive {
    color: rgb(206, 206, 206);
}

.table-setting {
    margin-right: 2rem;
}

.mat-column-view {
    padding-left: 1rem;
}

