<p>
  <a routerLink="../../">Products</a> / Brand / {{ brand }}
</p>
<div class="row">
    <div class="col-md-10">
      <mat-card>
        <mat-tab-group>
          <mat-tab label="Products">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element" routerLink="/products/single"> {{element.position}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </mat-tab>
          <mat-tab label="More" disabled>

          </mat-tab>
        </mat-tab-group>
      </mat-card>
      
    </div>
    <div class="col-md-2">
      <div class="mat-elevation-z8">
        <mat-card>
          <h2>{{brand}} Series</h2>
            <mat-divider></mat-divider>
          <form [formGroup]="searchSeiriesForm">
            <mat-form-field appearance="outline" color="accent" style="width:100%; margin-top: 2rem;">
                <mat-label>Search Series:</mat-label>
                <input matInput formControlName="query">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>

        <mat-selection-list #series>
            <mat-list-option *ngFor="let series of brandSeries">
              {{series}}
            </mat-list-option>
          </mat-selection-list>
          
          <p class="p-3">
            Options selected: {{series.selectedOptions.selected.length}}
          </p>
        </mat-card>
      </div>
  </div>
</div>
  