<block-ui>
    <div id="wrapper">
        <div id="content">
            <!-- Page -->
            <mat-drawer-container class="main-container" autosize>
                <!-- Wrapper -->
                <mat-drawer #drawer class="sidenav" mode="side">
                    <div class="overlay">
                        <!-- Side-bar content -->
                        <app-sidenav></app-sidenav>
                    </div>
                </mat-drawer> 
                <!-- Top navbar -->
                <app-top-nav></app-top-nav>
                <!-- /Top navbar -->
                <!-- content -->
                <div class="content-area">
                    <div class="sidebar-toggler">
                        <span (click)="sideberBtn()">
                            <button mat-mini-fab color="warn" (click)="drawer.toggle()">
                                <mat-icon>{{ sideBtnIcn }}</mat-icon>
                            </button>
                        </span>
                        <span class="text-muted" style="color: rgb(194, 194, 194) !important;">&nbsp;Menu</span>
                    </div>
                    <!--  Router content -->
                    <div class="router-content">
                        <router-outlet></router-outlet> 
                        <button class="home animate pop"  mat-fab aria-label="home" color="warn" routerLink="/" >
                            <mat-icon>home</mat-icon>
                        </button>
                    </div>
                </div>
                <!-- /content -->
                <!-- /Wrapper-->
            </mat-drawer-container>
            <!-- /Page -->
        </div>
    </div>
</block-ui>

