.main-container {
  width: 100%;
  height: 300rem;
}

.content-area {
  padding: 1rem;
}

.router-content {
  margin-top: 5rem;
  padding: 2rem;
  border: rgb(231, 231, 231) 1px solid;
  background-color: #F0F0F1;
}

.sidebar-toggler{
  margin-bottom: -85px;
}

.sidenav {
  background: url("../../nature.jpg") no-repeat fixed;
  width: 260px;
  height: 100%;
  overflow: hidden;
  color: #FFFFFF;
  position: absolute;
}

.overlay {
  background: rgba(15, 15, 15, 0.863);
  overflow: hidden;
  height: 100%;
  padding: 20px;
  color: #FFFFFF;
}

.home {
  position: fixed;
  left: 90%;
  bottom: 9%;
  opacity: 0.9;
  transition: ease-in;
  z-index: 10;
}

.home:hover {
  opacity: 1;
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.7s;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
