<block-ui>
    <div id="wrapper">
        <div id="content">
            <app-top-nav></app-top-nav>
            <div (click)="test()">
                <button mat-icon-button style="top: -51px; left: 118px;">
                    <mat-icon>menu</mat-icon>
                    <!-- (click)="drawer.toggle()"  -->
                </button>
            </div>
            <mat-drawer-container class="main-container" autosize>
                <mat-drawer #drawer class="sidenav" [style.width]="(minimized) ? '109px' : '260px'" mode="side" opened="true" id="sidenav">
                    <div class="overlay">
                        <app-minisidenav *ngIf="minimized"></app-minisidenav>
                        <app-sidenav *ngIf="!minimized"></app-sidenav>
                    </div>
                </mat-drawer>
                <div class="content-area">
                    <div class="router-content">
                        <router-outlet></router-outlet> 
                    </div>
                </div>
            </mat-drawer-container>
        </div>
    </div>
</block-ui>

