<block-ui>
    <div id="wrapper">
        <div id="content">
            <!-- Page -->
            <mat-drawer-container class="main-container" autosize>
                <!-- Wrapper -->
                <mat-drawer #drawer class="sidenav smd-background" mode="side">
                    <div class="overlay">
                        <!-- Side-bar content -->
                        <app-sidenav></app-sidenav>
                    </div>
                </mat-drawer> 
                <!-- Top navbar -->
                <app-top-nav></app-top-nav>
                <!-- /Top navbar -->
                <!-- content -->
                <div class="content-area">
                    <div class="sidebar-toggler">
                        <span (click)="sideberBtn()">
                            <button mat-icon-button (click)="drawer.toggle()" style="top: -68px;">
                                <!-- <mat-icon>{{ sideBtnIcn }}</mat-icon> -->
                                <mat-icon>menu</mat-icon>
                            </button>
                        </span>
                    </div>
                    <!--  Router content -->
                    <div class="router-content">
                        <router-outlet></router-outlet> 
                        <!-- <button class="home animate pop"  mat-fab aria-label="home" color="warn" routerLink="/" >
                            <mat-icon>home</mat-icon>
                        </button> -->
                    </div>
                </div>
                <!-- /content -->
                <!-- /Wrapper-->
            </mat-drawer-container>
            <!-- /Page -->
        </div>
    </div>
</block-ui>

