.main-container {
  width: 100%;
  height: 300rem;
  margin-top: -40px;
}

.content-area {
  padding: 2rem;
}

.router-content {
  margin-top: 0rem;
  padding: 2rem;
  border: rgb(207, 207, 207) 1px solid;
  background-color: #ffffff;
}

.menu-button {
  top: -51px;
  left: 118px;
}

.sidebar-toggler{
  margin-bottom: -85px;
}

.sidenav {
  // width: 260px;
  height: 100%;
  overflow: hidden;
  color: #FFFFFF;
  position: absolute;
  transition: width 0.3s;
}

.minisidenav {
  // width: 70px;
  height: 100%;
  overflow: hidden;
  color: #FFFFFF;
  position: absolute;
}

.overlay {
  // background: rgb(245, 245, 245);
  overflow: hidden;
  height: 100%;
  padding: 20px;
  color: #FFFFFF;
}

.home {
  position: fixed;
  left: 90%;
  bottom: 9%;
  opacity: 0.9;
  transition: ease-in;
  z-index: 10;
}

.home:hover {
  opacity: 1;
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.7s;
}

.grey {
  background-color: #FAFAFA;
}


@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.menu-button {
  color: #fafafa;
}
.sidenav {
  display: none;
}
  
.content-area {
  padding: 0rem;
}

.router-content {
  padding: 1rem;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.content-area {
  padding: 1rem;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.content-area {
  padding: 2rem;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.content-area {
  padding: 2rem;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.content-area {
  padding: 2rem;
}

}