
<div style="text-align: center;" *ngIf="!loggedIn">
  <p>Please Wait...</p>
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="loggedIn">
  <p> <a routerLink="/">All Products</a> / Product Manager / My Products</p>

  <div class="row">
    <div *ngIf="addProductRole" class="col-12 col-ms-12 col-md-5 col-lg-2">
      <button mat-raised-button class="p-2" style="width: 100%;" [routerLink]="['add/new', 'product']" >
        <img src="../../../assets/icons/new-product.png" height="35"> New Product
      </button>
    </div>
    <div *ngIf="addProductRole" class="col-12 col-ms-12 col-md-5 col-lg-2">
      <!-- (click)="showPamphletCheckboxes()" -->
      <button mat-raised-button class="p-2" style="width: 100%;" [routerLink]="['add/new', 'linked-product']" >
        <img src="../../../assets/icons/linked-products.png" height="35"> Create Bundle
      </button>
    </div>
    <div class="col-12 col-ms-12 col-md-5 col-lg-2">
      <button mat-raised-button class="p-2" style="width: 100%;" [routerLink]="['add/new', 'presentation']" >
        <img src="../../../assets/icons/presentation.png" height="35"> Create Presentation
      </button>
    </div>
    <div class="col-12 col-ms-12 col-md-5 col-lg-2">
      <button mat-raised-button class="p-2" style="width: 100%;" (click)="exporter.exportTable('csv',{fileName:'products_system'})">
        <img src="../../../assets/icons/csv.png" height="35"> Quick Export
      </button>
    </div>
    <div class="col-12 col-ms-12 col-md-5 col-lg-3">
      <button mat-raised-button class="p-2" style="width: 100%;" routerLink="products/export">
        <img src="../../../assets/icons/wordpress.png" height="35">  WordPress Export
      </button>
    </div>
  </div>
  <div class="row" *ngIf="showNewPamphletPanel">
    <div class="col-md-12">
      <form [formGroup]="newProductForm">
        <div class="mt-5 custom-tab" style="overflow: hidden !important;">
          <div class="row" style="background-color: #f7f7f7; padding: 1rem; border: 1px solid rgb(231, 231, 231);">
            <div class="col-md-6">
              <h3>Pamphlet Details:</h3>
              <mat-form-field appearance="outline" style="width: 90%;">
                <mat-label>Pamphlet Name</mat-label>
                <input #name matInput formControlName="name" placeholder="Enter Product Name">
                <mat-icon matSuffix>create</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 90%;">
                <mat-label>Brand</mat-label>
                <mat-select #brand matInput formControlName="brand_type_id">
                  <mat-option *ngFor="let type of typesList | typeGroup : 'Brand'" value="{{ type.id }}">{{ type.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="width: 90%;" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea #description rows="3" matInput formControlName="description" placeholder="Enter product description..."></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <h3>Selected Products:</h3>
              <mat-card>
                <ul>
                  <li *ngFor="let sku of newPamphletSKUs">{{ sku }}</li>
                </ul>
              </mat-card>
            </div>
            <div class="col-md-2">
              <h3 style="color: #ffff;">...</h3>
              <button type="submit" mat-raised-button type="submit" color="primary" (click)="saveProduct()" style="float: right;">Create Pamphlet</button> 
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-3">
      <mat-form-field appearance="legacy" color="primary" class="table-search">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Enter sku, mame, brand, description etc" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="table-category">
        <mat-label>Categories</mat-label>
        <mat-select (selectionChange)="filterByCategory($event)">
            <mat-option [value]="category.id" *ngFor="let category of primaryCategoriesList">
              {{ category.name }}
            </mat-option>
        </mat-select>
      </mat-form-field> 

      <div class="mat-elevation-z8">

        <span class="table-setting-span">
          <mat-checkbox [(ngModel)]="displayDates" color="warn" (change)="showDates($event)" class="table-setting">More info</mat-checkbox>
        </span>

        <span class="table-setting-span">
          <mat-checkbox [(ngModel)]="eolProducts" color="primary" (change)="filterStatuses($event)" class="table-setting">EOL</mat-checkbox>
        </span>

        <span class="table-setting-span">
          <mat-checkbox [(ngModel)]="developmentProducts" color="primary" (change)="filterStatuses($event)" class="table-setting">In Development</mat-checkbox>
        </span>

        <span class="table-setting-span">
          <mat-checkbox [(ngModel)]="activeProducts" color="primary" (change)="filterStatuses($event)" class="table-setting">Active</mat-checkbox>
        </span>

        <span class="table-setting-span">
          <mat-checkbox [(ngModel)]="allProducts" color="primary" (change)="filterStatuses($event)" class="table-setting">All</mat-checkbox>
        </span>

        <mat-progress-bar color="accent" *ngIf="productsLoader == true" mode="indeterminate"></mat-progress-bar>
        <table matTableExporter mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" #exporter="matTableExporter">
          <ng-container matColumnDef="pamphlet">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Create Pamphlet</th>
            <td mat-cell *matCellDef="let row">
              <span style="padding: 9px; background-color:#f0f0f0; color:green;">
                <mat-checkbox color="primary" (change)="addToPamphlet(row.product_id, row.sku, $event)" class="table-setting">Add to list</mat-checkbox>
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="thumbnail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let row" routerLink="{{row.clean_sku}}">
              <img src="https://images.smdtechnologies.co.za/api/store/{{row.clean_sku}}" onerror="this.src='https://products.smdtechnologies.com/public/storage/files/default.png'" width="45" alt="Photo">
            </td>
          </ng-container>
          <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="sku-title">SKU</span> </th>
            <td mat-cell *matCellDef="let row" routerLink="../../{{row.clean_sku}}"> {{row.sku}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row" routerLink="../../{{row.clean_sku}}"> {{row.name}} </td>
          </ng-container>
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
            <td mat-cell *matCellDef="let row" (click)="selectBrand(getBrandName(row.brand_type_id))"> {{ getBrandName(row.brand_type_id) }} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let row"> {{ row.short_description }} </td>
          </ng-container>
          <ng-container matColumnDef="is_active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.is_active == 1" (click)="iconClick(row.sku + ' is active')"><mat-icon color="primary">check_circle</mat-icon></span>
              <span *ngIf="row.is_active == 0" (click)="iconClick('Nothing here')"><mat-icon class="inactive">radio_button_unchecked</mat-icon></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="is_in_development">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> In Development </th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.is_in_development == 1" (click)="iconClick(row.sku + ' is in development')"><mat-icon color="accent">check_circle</mat-icon></span>
              <span *ngIf="row.is_in_development == 0" (click)="iconClick('Nothing here')"><mat-icon class="inactive">radio_button_unchecked</mat-icon></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="is_eol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> EOL </th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.is_eol == 1" (click)="iconClick(row.sku + ' is in end of life')"><mat-icon color="warn">check_circle</mat-icon></span>
              <span *ngIf="row.is_eol == 0" (click)="iconClick('Nothing here')"><mat-icon class="inactive">radio_button_unchecked</mat-icon></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated </th>
            <td mat-cell *matCellDef="let row">{{ row.updated_at | date }} </td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
            <td mat-cell *matCellDef="let row">{{ row.created_at | date }} </td>
          </ng-container>
          <ng-container matColumnDef="verified">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Verified </th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.verified == 1"><mat-icon color="primary">check_circle</mat-icon></span>
              <span *ngIf="row.verified == 0"><mat-icon class="inactive">radio_button_unchecked</mat-icon></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let row">
              <button mat-raised-button  routerLink="../../{{row.clean_sku}}" aria-label="Product details">
                View Details
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of products"></mat-paginator>
      </div>
    </div>
    <div class="col-md-12"></div>
  </div>
  
</div>