.img-cell {
  width:20%;
  height: 69px;
}

.table-label-cell {
  background-color: #F4F4F4;
}

mat-form-field {
  margin-left: 12px;
}

.save-icon {
  cursor: pointer;
}

.image-card {
  max-width: 210px;
  margin-bottom: 1rem;
}

table, td, th {
  border: 1px solid rgb(224, 224, 224);
  padding: 6px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

mat-form-field {
  margin-left: 12px;
}
.example-card {
  max-width: 200px;
}

table {
  width: 100%;
}

.upload-role {
  background-color: rgb(247, 247, 247);
  color: rgb(187, 187, 187);
  height: 9rem;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.progress-bar {
  padding: 0;
}
.progress {
  width: 50px;
}
.mat-input-element {
  font-size: medium;
  font-weight: 200;
}
#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}
.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}
.mat-toolbar-single-row button {
  width: 100px;
}
.mat-form-field {
  width: 100%;
}
.message {
  background-color: #ddd;
  padding: 15px;
  color: #333;
  border: #aaa solid 1px;
  border-radius: 4px;
  margin-top: 1rem;
}
.preview {
  max-width: 200px;
  vertical-align: middle;
}
.list-card {
  margin-top: 20px;
}
.list-item {
  margin-bottom: 20px;
}

.custom-tab {
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-border {
  border: 1px solid rgb(241, 241, 241); padding: 2rem;
}

.productImg {
  background-color: #fafafa; 
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.file-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.file-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.file-box:last-child {
  border: none;
}

.file-list.cdk-drop-list-dragging .file-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sort-img {
  max-width: 70px;
  max-height: 50px;
}

.img-action{
  position: relative;
  left: 134px;
  bottom: 387px;
}


/* SCROLLING */
.scrollable-div {
  height: 42rem;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(247, 247, 247); 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #EFEFEF; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dddddd; 
}

.categories-section {
  margin: 12px 0;
}

.categories-list {
  list-style-type: none;
  margin-top: 4px;
  border-radius: 1px;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: #FFF;
  width: 145px;
  height: 240px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  // text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(185, 185, 185);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  padding: 6px;
  font-size: smaller;
}

.image-box {
  width: 100%; 
  height: 100%;
}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .flip-card {
    width: 100px;
    height: 240px;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .flip-card {
    width: 120px;
    height: 240px;
  }
  
  .mat-chip-list {
    font-size: 10px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}