<div *ngIf="productsLoader == true">
  <p>Fetching details for {{ sku }}...</p>
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="product">
  <p>
    <a routerLink="/">Products </a> / Product Details / {{ productName }}
  </p>

  <div class="row" id="pdfContent">
    <div class="col-md-9">
      <mat-card style="background: #EFEFEF;">
        <mat-tab-group>
          <mat-tab label="Product Details">
            <div class="mt-5" style="overflow: hidden !important;">
              <div class="row">
                <div class="col-md-4">
                  <mat-card>
                    <form [formGroup]="productForm">
                      <img src="../../../assets/icons/details.png" height="30" class="mx-2"> <strong> General Details</strong><hr> 
                      <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>SKU</mat-label>
                        <input #sku matInput formControlName="sku" placeholder="Enter Product SKU">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Product Name</mat-label>
                        <input #name matInput formControlName="name" placeholder="Enter Product Name" [readonly]="!editRole">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Product Brand</mat-label>
                        <mat-select #brand matInput formControlName="brand_type_id">
                          <mat-option *ngFor="let type of typesList | typeGroup : 'Brand'" value="{{ type.id }}" [disabled]="!editRole">{{ type.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Series</mat-label>
                        <input #family_grouping matInput [formControl]="autocompleteControl1" [matAutocomplete]="auto" placeholder="Enter Series" value="{{ productSeries }}" [(ngModel)]="newSeriesType" [readonly]="!editRole">
                        <mat-autocomplete (optionSelected)="addSeries($event)" #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredSeries | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-icon class="save-icon" matSuffix matTooltip="Save series" (click)="addNonExistingType()">check_circle_outline</mat-icon>
                      </mat-form-field>
                      <strong>Description</strong><br><br>
                      <mat-form-field style="width: 90%;" appearance="outline">
                        <mat-label>Short Description</mat-label>
                        <textarea #short_description rows="7" matInput formControlName="short_description" placeholder="Enter short product description" [readonly]="!editRole"></textarea>
                      </mat-form-field>
                      <mat-form-field style="width: 90%;" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea #description rows="15" matInput formControlName="description" placeholder="Enter product description..." [readonly]="!editRole"></textarea>
                      </mat-form-field>
                      <br>
                      <div style="padding-left: 1rem;">
                        <mat-checkbox #is_in_development formControlName="is_in_development" [disabled]="!editRole">Is In Development</mat-checkbox><br>
                        <mat-checkbox #is_eol formControlName="is_eol" [disabled]="!editRole">Is EOL</mat-checkbox><br>
                        <mat-checkbox #is_active formControlName="is_active" [disabled]="!editRole">Is Active</mat-checkbox><hr>
                        <mat-checkbox [disabled]="productManagerId == 0" #verified formControlName="verified">Verified</mat-checkbox><br>
                        <span *ngIf="productManagerId == 0"><i class="text-muted">Product Manager is needed to verify this product</i></span>
                        <hr>
                        <button mat-raised-button [disabled]="!productForm.dirty" *ngIf="editRole" type="submit" color="primary" (click)="updateProduct()">Save Changes</button>
                      </div>
                    </form>
                  </mat-card>
                  <br>
                  <mat-card>
                    <img src="../../../assets/icons/regions.png" height="25" class="mx-2"> <strong>Regions </strong><hr>            
                    <form [formGroup]="regionsForm">
                      <ng-container formArrayName="regions">
                        <ng-container *ngFor="let x of regions.controls; let index = index">
                            <div [formGroupName]="index">
                              <mat-form-field appearance="outline" style="width: 90%;">
                                <mat-label>Product Region</mat-label>
                                <mat-select #regionField matInput formControlName="regionField">
                                  <mat-option *ngFor="let type of typesList | typeGroup : 'Region'" value="{{ type.id }}" [disabled]="!editRole">{{ type.name }}</mat-option>
                                </mat-select>
                              </mat-form-field>            
                            </div>
                        </ng-container>
                      </ng-container>
                      <button mat-raised-button type="button" (click)="addRegion()" style="margin-left: 1rem;" *ngIf="editRole">
                        Add Region
                      </button>
                      <button mat-raised-button type="submit" *ngIf="editRole" [disabled]="!regionsForm.dirty" color="primary" (click)="updateRegion()" style="margin-left: 1rem;">Save Region</button>
                    </form>
                  </mat-card>

                  <mat-card *ngFor="let type of typesList | typeGroup : 'Design'" style="margin-top: 1rem;">
                    <img src="../../../assets/icons/{{type.name}}.png" height="30" class="mx-2"> <strong> {{type.name}} </strong><hr>  
                    <form *ngIf="type.id == 80" [formGroup]="shoutoutsForm">
                      <ng-container formArrayName="shoutouts">
                        <ng-container *ngFor="let x of shoutouts.controls; let index = index">
                            <div [formGroupName]="index">
                              <mat-form-field appearance="outline" style="width: 90%;">
                                <mat-label>{{ type.name }}:</mat-label>
                                <input matInput #designField type="text" formControlName="designField" placeholder="" [readonly]="!editRole" required>
                                <mat-icon *ngIf="editRole" matSuffix (click)="removeDesign(index, type.id)">delete</mat-icon>
                              </mat-form-field>              
                            </div>
                        </ng-container>
                      </ng-container>
                      <button *ngIf="editRole" mat-raised-button type="button" (click)="addDesign(type.id)" style="margin-left: 1rem;">
                        Add New
                      </button>
                      <button mat-raised-button type="submit" *ngIf="editRole" color="primary" (click)="design(type.id)" style="margin-left: 1rem; float: right;">Save</button>
                    </form>

                    <form *ngIf="type.id == 81" [formGroup]="featuresAndBenefitsForm">
                      <ng-container formArrayName="features">
                        <ng-container *ngFor="let x of features.controls; let index = index">
                            <div [formGroupName]="index">
                              <mat-form-field appearance="outline" style="width: 90%;">
                                <mat-label>{{ type.name }}:</mat-label>
                                <input matInput type="text" formControlName="designField" placeholder="" [readonly]="!editRole" required>
                                <mat-icon matSuffix *ngIf="editRole" (click)="removeDesign(index, type.id)">delete</mat-icon>
                              </mat-form-field>              
                            </div>
                        </ng-container>
                      </ng-container>
                      <button *ngIf="editRole" mat-raised-button type="button" (click)="addDesign(type.id)" style="margin-left: 1rem;">
                        Add New
                      </button>
                      <button mat-raised-button type="submit" *ngIf="editRole" color="primary" (click)="design(type.id)" style="margin-left: 1rem; float: right;">Save</button>
                    </form>

                    <form *ngIf="type.id == 82" [formGroup]="extendedFabsForm">
                      <ng-container formArrayName="fabs">
                        <ng-container *ngFor="let x of fabs.controls; let index = index">
                            <div [formGroupName]="index">
                              <mat-form-field appearance="outline" style="width: 90%;">
                                <mat-label>{{ type.name }}:</mat-label>
                                <input matInput type="text" formControlName="designField" placeholder="" [readonly]="!editRole" required>
                                <mat-icon *ngIf="editRole" matSuffix (click)="removeDesign(index, type.id)">delete</mat-icon>
                              </mat-form-field>              
                            </div>
                        </ng-container>
                      </ng-container>
                      <button *ngIf="editRole" mat-raised-button type="button" (click)="addDesign(type.id)" style="margin-left: 1rem;">
                        Add New
                      </button>
                      <button mat-raised-button type="submit" *ngIf="editRole" color="primary" (click)="design(type.id)" style="margin-left: 1rem; float: right;">Save</button>
                    </form>

                    <form *ngIf="type.id == 83" [formGroup]="packageContentsForm">
                      <ng-container formArrayName="contents">
                        <ng-container *ngFor="let x of contents.controls; let index = index">
                            <div [formGroupName]="index">
                              <mat-form-field appearance="outline" style="width: 90%;">
                                <mat-label>{{ type.name }}:</mat-label>
                                <input matInput type="text" formControlName="designField" placeholder="" [readonly]="!editRole" required>
                                <mat-icon *ngIf="editRole" matSuffix (click)="removeDesign(index, type.id)">delete</mat-icon>
                              </mat-form-field>              
                            </div>
                        </ng-container>
                      </ng-container>
                      <button *ngIf="editRole" mat-raised-button type="button" (click)="addDesign(type.id)" style="margin-left: 1rem;">
                        Add New
                      </button>
                      <button mat-raised-button type="submit" *ngIf="editRole" color="primary" (click)="design(type.id)" style="margin-left: 1rem; float: right;">Save</button>
                    </form>
                  </mat-card>
                </div>
            
                <div class="col-md-8">
                  <mat-card>
                    <img src="../../../assets/icons/attributes.png" height="30" class="mx-2"> <strong> PDS Attributes</strong><hr> 
                    <mat-progress-bar color="accent" *ngIf="loadingPdsAttributes" mode="indeterminate"></mat-progress-bar>
                    <br><br>
                    <div *ngIf="!loadingPdsAttributes">
                      <ul>
                        <li *ngFor="let i of pdsAttributes"><span>{{ i.attribute_key }} </span>: {{ i.attribute_value }}</li>
                      </ul>
                    </div>
                  </mat-card>

                  <mat-card *ngIf="isBundle" style="margin-top: 2rem;">
                    <img src="../../../assets/icons/linked.png" height="30" class="mx-2"> <strong> Linked Products</strong><hr> 
                    <mat-progress-bar color="accent" *ngIf="bundleLoader" mode="indeterminate"></mat-progress-bar>
                    <br><br>
                    <mat-form-field appearance="outline" *ngFor="let sku of linkedProductSKUs" style="margin-bottom: 1rem; width: 50%;">
                      <input type="text" placeholder="Search SKU" aria-label="Number" matInput value="{{sku}}" readonly>
                      <mat-icon *ngIf="editRole" matSuffix (click)="removeFromBundle(sku)" style="color:#545454;">delete</mat-icon>
                      <mat-hint><a target="_blank" href="https://products.smdtechnologies.com/{{sku}}">View this product</a></mat-hint>
                    </mat-form-field>

                    <form [formGroup]="newProductForm">
                      <mat-form-field appearance="outline" *ngFor="let sku of newPamphletSKUs" style="margin-bottom: 1rem; width: 50%;">
                        <mat-label>Selected Product</mat-label>
                        <input type="text" placeholder="Search SKU" aria-label="Number" matInput value="{{sku}}" readonly>
                        <mat-icon matSuffix (click)="removeFromBundle(sku)">delete</mat-icon>
                        <mat-hint><a target="_blank" href="https://products.smdtechnologies.com/{{sku}}">View this product</a></mat-hint>
                      </mat-form-field>

                      <mat-form-field appearance="outline" style="margin-bottom: 1rem; width: 50%;">
                        <mat-label>Add Product</mat-label>
                        <input type="text" placeholder="Enter SKU" aria-label="Number" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
                        <mat-autocomplete (optionSelected)="addToBundle($event)" #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                      <!-- <button type="submit" style="float: right;" mat-raised-button type="submit" color="primary" (click)="saveBundleProduct('Pamphlet')">Save Changes</button> -->
    
                    </form>

                  </mat-card>

                  <mat-card style="margin-top: 30px !important; height: auto;">
                    <img src="../../../assets/icons/gallery.png" height="30" class="mx-2"> <strong> Images</strong><hr> 
                    <mat-progress-bar color="accent" *ngIf="loadingPdsAttributes" mode="indeterminate"></mat-progress-bar>
                    <br><br>
                    <div class="row">
                      <!-- system images -->
                      <div class="col-md-3 p-3" *ngFor="let image of mediaFiles; let index = index">
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <p style="color: white;">...</p>
                              <img mat-card-image src="{{ storageUrl + filePath(image.path) }}" onerror="this.src='https://products.smdtechnologies.com/public/storage/files/default.png'">
                            </div>
                            <div class="flip-card-back">
                              <mat-chip-list aria-label="Fish selection">
                                <mat-chip class="mat-chip-list" *ngFor="let type of typesList | typeGroup : 'Image Type'"  (click)="downloadURI('storage/' + filePath(image.path), type.id, image.name, image)">{{ type.name }}</mat-chip>
                              </mat-chip-list>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngFor="let images of mediaFilesForLinkedProducts;">
                      <!-- system images Linked Products-->
                      <div class="col-md-3 p-3" *ngFor="let image of images; let index = index">
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <p style="color: white;">...</p>
                              <img mat-card-image src="{{ storageUrl + filePath(image.path) }}" onerror="this.src='https://products.smdtechnologies.com/public/storage/files/default.png'">
                            </div>
                            <div class="flip-card-back">
                              <mat-chip-list aria-label="Fish selection">
                                <mat-chip class="mat-chip-list" *ngFor="let type of typesList | typeGroup : 'Image Type'"  (click)="downloadURI('storage/' + filePath(image.path), type.id, image.name, image)">{{ type.name }}</mat-chip>
                              </mat-chip-list>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card>

                  <mat-card style="margin-top: 30px !important; height: auto;">
                    <img src="../../../assets/icons/gallery.png" height="30" class="mx-2"> <strong>More Images</strong><hr> 
                    <div class="row">
                      <!-- image server -->
                      <div class="col-md-3  p-3" *ngFor="let image of imageServerFiles;">
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <p style="font-size:x-small; background-color:rgb(235, 235, 235); color:rgb(165, 165, 165); padding-left: 6px;">Image Server</p>
                              <img mat-card-image src="https://images.smdtechnologies.co.za/uploads/{{image}}" onerror="this.src='https://products.smdtechnologies.com/public/storage/files/default.png'" width="100" >
                            </div>
                            <div class="flip-card-back">
                              <mat-chip-list aria-label="Fish selection">
                                <mat-chip class="mat-chip-list" *ngFor="let type of typesList | typeGroup : 'Image Type'" (click)="downloadImageServer('https://images.smdtechnologies.co.za/uploads/' + image, type.id, image.filename, image)">{{ type.name }}</mat-chip>
                              </mat-chip-list>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                                        
                </div>
              </div>
            </div>
            
          </mat-tab>
          <mat-tab label="Additional Categories">
            <div class="mt-5 custom-tab" style="overflow: hidden !important;">
              <mat-card style="background-color: rgb(255, 255, 255);">
                <form>
                  <div class="row form-border">
                    <div class="col-md-6">
                      <section class="categories-section">
                        <ul>
                          <li class="categories-list" *ngFor="let category of categoriesList | parent: '0'" >
                            <span>
                              <mat-checkbox (click)="checkedItem(category.id)" [checked]="checkCategories(category.name)">{{ category.name }}</mat-checkbox>
                            </span>
                            <span>
                              <ul>
                                <li class="categories-list" *ngFor="let child_1 of categoriesList | parent: category.id">
                                  <mat-checkbox (click)="checkedItem(child_1.id)" [checked]="checkCategories(child_1.name)">{{ child_1.name }}</mat-checkbox>
                                  <ul>
                                    <li class="categories-list" *ngFor="let child_2 of categoriesList | parent: child_1.id">
                                      <mat-checkbox (click)="checkedItem(child_2.id)" [checked]="checkCategories(child_2.name)">{{ child_2.name }}</mat-checkbox>
                                      <ul>
                                        <li class="categories-list" *ngFor="let child_3 of categoriesList | parent: child_2.id">
                                          <mat-checkbox (click)="checkedItem(child_3.id)" [checked]="checkCategories(child_3.name)">{{ child_3.name }}</mat-checkbox>
                                          <ul>
                                            <li class="categories-list" *ngFor="let child_4 of categoriesList | parent: child_3.id">
                                              <mat-checkbox (click)="checkedItem(child_4.id)" [checked]="checkCategories(child_4.name)">{{ child_4.name }}</mat-checkbox>
                                              <ul>
                                                <li class="categories-list" *ngFor="let child_5 of categoriesList | parent: child_4.id">
                                                  <mat-checkbox (click)="checkedItem(child_5.id)" [checked]="checkCategories(child_5.name)">{{ child_5.name }}</mat-checkbox>
                                                  <ul>
                                                    <li class="categories-list" *ngFor="let child_6 of categoriesList | parent: child_5.id">
                                                      <mat-checkbox (click)="checkedItem(child_6.id)" [checked]="checkCategories(child_6.name)">{{ child_6.name }}</mat-checkbox>
                                                    </li>
                                                  </ul>
                                                </li>
                                              </ul>
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </span>
                          </li>
                        </ul>   
                      </section>
    
                    </div>
                    <div class="col-md-6">
                      <button mat-raised-button type="submit" color="primary" (click)="saveCategories()" [disabled]="editRole">Save Changes</button>
                    </div>
                  </div>
                </form>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Attributes">
            <div class="mt-5 custom-tab form-border" style="overflow: hidden !important;">
              <mat-card style="background-color: rgb(255, 255, 255);">
                <form [formGroup]="productFormAttributes">
                  <ng-container formArrayName="attributes">
                    <ng-container *ngFor="let x of attributes.controls; let index = index">
                        <div [formGroupName]="index">
                            <mat-grid-list cols="3" rowHeight="80px">
                                <mat-grid-tile>
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <input matInput id="attrName" type="text" formControlName="attrName" placeholder="Enter Value" [readonly]="!editRole" required>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <input matInput id="attrValue" type="text" formControlName="attrValue" placeholder="Enter Value" [readonly]="!editRole" required>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <!-- <button class="mb-3" mat-raised-button type="button" (click)="removeNewAttribute(index)" color="warn"><mat-icon>delete</mat-icon> Remove This Field</button> -->
                                </mat-grid-tile>
                            </mat-grid-list>                
                        </div>
                    </ng-container>
                  </ng-container>
                  <button mat-raised-button type="button" *ngIf="editRole" color="accent" (click)="addNewAttribute()" style="margin-left: 1rem;">
                    <mat-icon>add_circle_outline</mat-icon>
                    Add Attribute
                  </button>
                  <button mat-raised-button type="submit" *ngIf="editRole" [disabled]="!productFormAttributes.dirty" color="primary" (click)="updateAttributes()" style="margin-left: 1rem;">{{saveAttrBtnText}}</button>
                </form>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Packaging">
            <mat-card style="background-color: rgb(255, 255, 255);">
              <form [formGroup]="productFormPackaging">
                <div class="mt-5 custom-tab" style="overflow: hidden !important;">
                  <div class="row form-border">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Choose Packaging Type:</mat-label>
                        <mat-select name="packaging_type_id" formControlName="packaging_type_id" [disabled]="!editRole">
                            <mat-option [value]="type.id" *ngFor="let type of typesList | typeGroup : 'Packaging'">
                                {{ type.name }}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Weight (KG)</mat-label>
                        <input matInput formControlName="weight" placeholder="Enter Product Weight" [readonly]="!editRole">
                        <mat-icon matSuffix>fitness_center</mat-icon>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Dimensions(cm): Length</mat-label>
                        <input matInput formControlName="length" placeholder="Enter Product Length" [readonly]="!editRole">
                        <mat-icon matSuffix>design_services</mat-icon>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Dimensions(cm): Width</mat-label>
                        <input matInput formControlName="width" placeholder="Enter Product Width" [readonly]="!editRole">
                        <mat-icon matSuffix>design_services</mat-icon>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Dimensions(cm): Height</mat-label>
                        <input matInput formControlName="height" placeholder="Enter Product Height" [readonly]="!editRole">
                        <mat-icon matSuffix>design_services</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Barcode</mat-label>
                        <input matInput formControlName="barcode" placeholder="barcode" [readonly]="!editRole">
                        <mat-icon matSuffix>qr_code</mat-icon>
                      </mat-form-field>

                      <div class="m-3">
                        <button *ngIf="editRole" [disabled]="!productFormPackaging.dirty" (click)="updatePackaging()" mat-raised-button type="submit" color="primary">Save Packaging</button>  
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </mat-card>
            
          </mat-tab>
          <mat-tab  label="Files">
            <div class="mt-5 custom-tab" style="overflow: hidden !important;">
              <div class="row">
                <div class="col-md-4">
                  <mat-card style="background-color: rgb(255, 255, 255);">
                    <div *ngIf="uploadRole">
                      <label>Document Type:</label>
                      <select class="form-control" (change)="setFocusType($event)">
                        <option *ngFor="let type of typesList | typeGroup : 'File'" value="{{ type.id }}">{{ type.name }}</option>
                      </select><br>
                      <label>Document Expiry Date:</label>
                      <input class="form-control" [(ngModel)]="expiry_date" type="date"><br>
                      <input class="form-control" type="file" (change)="onChange($event)" multiple><br>
                      <mat-selection-list #permissions style="background-color: rgb(247, 247, 247);">
                        <mat-list-option style="height: 25px;" *ngFor="let type of typesList | typeGroup : 'File Permission'">
                          {{type.name }}
                        </mat-list-option>
                      </mat-selection-list>
                      <br>
                      <button mat-raised-button color="primary" (click)="uploadDocument('55', 'document')">Upload File</button>
                      <hr>
                      <div class="container" *ngIf="loading">
                        <h3>Loading ...</h3>
                      </div>
                      <div class="progress" style="height:10px;width:100%;">
                        <div class="progress-bar bg-success" [style]="uploadProgressBar"></div>
                      </div>
                      <div *ngIf="messages.length" class="message">
                        <ul *ngFor="let msg of messages; let i = index">
                          <li>{{ msg }}</li>
                        </ul>
                      </div>
                    </div>
                    <div *ngIf="!uploadRole" class="upload-role">
                        <p>You do not have permissions to upload files</p>
                        <mat-icon>upload_file</mat-icon>
                    </div>
                  </mat-card>
                </div>
                <div class="col-md-8">
                  <mat-card style="background-color: rgb(255, 255, 255);">
                    <table class="table">
                      <thead>
                        <tr style="list-style: none;">
                          <th>Document</th>
                          <th>Uploaded</th>
                          <th>Expiry Date</th>
                          <!-- <th>Permission</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let file of documentFiles" >
                          <td>{{ file.name }}</td>
                          <td>{{ file.created_at | date }}</td>
                          <td>
                            <span *ngIf="today > file.expiry_date">⚠</span>
                            {{ file.expiry_date | date }}
                          </td>
                          <!-- <td></td> -->
                        </tr>
                  
                      </tbody>
                    </table>
                  </mat-card>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Briefing Files">
            <div class="mt-5 custom-tab" style="overflow: hidden !important;">
              <div class="row">
                <div class="col-md-4">
                  <mat-card style="background-color: rgb(255, 255, 255);">
                    <div *ngIf="uploadRole">
                      <label>Document Type:</label>
                      <select class="form-control" (change)="setFocusType($event)">
                        <option *ngFor="let type of typesList | typeGroup : 'Briefing File'" value="{{ type.id }}">{{ type.name }}</option>
                      </select><br>
                      <input class="form-control" type="file" (change)="onChange($event)" multiple><br>
                      <mat-selection-list #permissions style="background-color: rgb(247, 247, 247);">
                        <mat-list-option style="height: 25px;" *ngFor="let type of typesList | typeGroup : 'File Permission'">
                          {{type.name }}
                        </mat-list-option>
                      </mat-selection-list>
                      <br>
                      <button mat-raised-button color="primary" (click)="uploadDocument('62', 'document')">Upload Briefing File</button>
                      <hr>
                      <div class="container" *ngIf="loading">
                        <h3>Loading ...</h3>
                      </div>
                      <div class="progress" style="height:10px;width:100%;">
                        <div class="progress-bar bg-success" [style]="uploadProgressBar"></div>
                      </div>
                      <div *ngIf="messages.length" class="message">
                        <ul *ngFor="let msg of messages; let i = index">
                          <li>{{ msg }}</li>
                        </ul>
                      </div>
                    </div>
                    <div *ngIf="!uploadRole" class="upload-role">
                        <p>You do not have permissions to upload briefing files</p>
                        <mat-icon>upload_file</mat-icon>
                    </div>
                  </mat-card>
                </div>
                <div class="col-md-8">
                  <mat-card style="background-color: rgb(255, 255, 255);">
                    <table class="table">
                      <thead>
                        <tr style="list-style: none;">
                          <th>Document</th>
                          <th>Uploaded</th>
                          <!-- <th>Expiry Date</th> -->
                          <!-- <th>Permission</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let file of documentFiles" >
                          <td>{{ file.name }}</td>
                          <td>{{ file.created_at | date }}</td>
                          <!-- <td>
                            <span *ngIf="today > file.expiry_date">⚠</span>
                            {{ file.expiry_date | date }}
                          </td> -->
                          <!-- <td></td> -->
                        </tr>
                  
                      </tbody>
                    </table>
                  </mat-card>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Media" *ngIf="uploadRole">
            <div class="mt-5 custom-tab" style="overflow: hidden !important;">
              <mat-tab-group>
                <!-- <mat-tab label="Images">
                  <div class="mt-5 custom-tab" style="overflow: hidden !important;">
                    <div class="row">
                      <div class="col-md-3" *ngFor="let image of imageServerFiles; let index = index">
                        <mat-card style="max-width: 280px; margin-bottom: 2rem; background-color: rgb(254, 254, 254);">
                          <div style="height: 120px; width: 130px; overflow: hidden;">
                            <img mat-card-image src="https://images.smdtechnologies.co.za/uploads/{{image.filename}}" onerror="this.src='https://products.smdtechnologies.com/public/storage/files/default.png'" alt="Photo">
                          </div>
                          <mat-card-content>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip *ngFor="let type of typesList | typeGroup : 'Image Type'" (click)="downloadImageServer('https://images.smdtechnologies.co.za/uploads/' + image.filename, type.id, image.filename, image)">{{ type.name }}</mat-chip>
                            </mat-chip-list>
                          </mat-card-content>
                          <mat-card-actions class="img-action">
                          </mat-card-actions>       
                        </mat-card>
                      </div>
                      
                    </div>
                  </div>
                </mat-tab> -->
                <mat-tab label="Manage Images">
                  <div class="row">   
                    <div class="col-md-3">
                      <div cdkDropList class="file-list" (cdkDropListDropped)="drop($event)" *ngIf="mediaFiles.length > 0">
                        <div class="file-box" *ngFor="let file of mediaFiles; let i = index">
                          <div class="row" cdkDrag>
                            <div class="col-md-4">
                              <mat-chip-list>
                                <mat-chip color="accent" *ngIf="i == 0" selected>Primary</mat-chip>
                              </mat-chip-list>
                              <span matBadge="{{i+1}}" *ngIf="i > 0" matBadgeOverlap="false" matBadgeColor="accent"></span>
                              <img class="sort-img" alt="{{ file.path }}" src="{{ storageUrl + filePath(file.path) }}">
                            </div>
                            <div class="col-md-8">
                              <mat-form-field appearance="outline" style="width: 90%;">
                                <mat-label>{{ returnTypeName(file.type_id) }}</mat-label>
                                <mat-select>
                                  <mat-option (onSelectionChange)="updateFileType(file.id, type.id)" *ngFor="let type of typesList | typeGroup : 'Image'" value="{{ type.id }}">{{ type.name }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-3" *ngFor="let file of mediaFiles">
    
                          <mat-card style="max-width: 280px; margin-bottom: 2rem; background-color: rgb(254, 254, 254);">
                            <mat-card-header>
                              <mat-card-subtitle>{{ returnTypeName(file.type_id) }}</mat-card-subtitle>
                            </mat-card-header>
                            <div style="height: 120px; width: 130px; overflow: hidden;">
                              <img mat-card-image src="{{ storageUrl + filePath(file.path) }}" alt="Photo">
                            </div>
                            
                            <mat-card-content>
                              <mat-chip-list aria-label="Fish selection">
                                <mat-chip *ngFor="let type of typesList | typeGroup : 'Image Type'"  (click)="downloadURI('storage/' + filePath(file.path), type.id, file.name, file)">{{ type.name }}</mat-chip>
                              </mat-chip-list>
                            </mat-card-content>
                            <mat-card-actions class="img-action" *ngIf="uploadRole">
                              <button mat-mini-fab color="basic" (click)="hideFile(file.id)"><mat-icon>hide_image</mat-icon></button>&nbsp;
                              <button mat-mini-fab color="basic" (click)="deleteFile(file.id)"><mat-icon>delete</mat-icon></button>
                            </mat-card-actions>
                          </mat-card>
    
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-card>
                    <div *ngIf="uploadRole" class="row">
                      <div class="col-md-4 form-border">
                        <input class="form-control" type="file" (change)="onChange($event)" multiple><br>
                        <button mat-raised-button color="primary" (click)="onUpload('47', 'image')">Upload Media</button>
                      </div>
                      <div class="col-md-8">
                        <div class="container" *ngIf="loading">
                          <h3>Loading ...</h3>
                        </div>
                        <div class="progress" style="height:10px;width:100%;">
                          <div class="progress-bar bg-success" [style]="uploadProgressBar"></div>
                        </div>
                        <div *ngIf="messages.length" class="message">
                          <ul *ngFor="let msg of messages; let i = index">
                            <li>{{ msg }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
      
                    <div *ngIf="!uploadRole" class="row">
                      <div class="col-md-12">
                        <div class="upload-role">
                          <p>You do not have permissions to upload media</p>
                          <mat-icon>hide_image</mat-icon>
                        </div>
                      </div>
                    </div>
      
                  </mat-card>
                </mat-tab>
                <mat-tab label="Videos">
                  <div class="mt-5 custom-tab" style="overflow: hidden !important;">
                  </div>
                </mat-tab>
                
              </mat-tab-group>
              
            </div>
            
          </mat-tab>

        </mat-tab-group>
      </mat-card>
    </div>
    <div class="col-md-3">

      <div class="text-muted">
        <mat-card>
          <mat-card-content>
            <div style="text-align: center;">
              <mat-form-field appearance="outline" style="width: 90%;">
                <mat-label><span *ngIf="loadpProductManager">Loading </span>Product Manager</mat-label>
                <mat-select matInput [(value)]="productManagerId" name="productManager" (selectionChange)="selectUser($event)"  [disabled]="!adminRole">
                  <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name + " " + user.surname }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> 

            <mat-grid-list cols="3" rowHeight="100px">
              <mat-grid-tile colspan="3">
                <mat-progress-spinner
                  [color]="progressPercentage() > 50 ? 'primary' : 'warn'" 
                  [mode]="progressMode"
                  [value]="progressPercentage()">
                </mat-progress-spinner>
              </mat-grid-tile>
            </mat-grid-list>
            <br>
            <div style="text-align: center;">
              <h3>{{ progressPercentage() }}% Complete</h3>
            </div>
            <hr>
            <mat-list role="list" (click)="autoInfo()">
              <mat-list-item role="listitem">
                <mat-icon>check_circle</mat-icon> General Details
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon *ngIf="categoriesList.length < 1">radio_button_unchecked</mat-icon>
                <mat-icon *ngIf="categoriesList.length > 0">check_circle</mat-icon> Categories
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon *ngIf="attributes.length < 1">radio_button_unchecked</mat-icon>
                <mat-icon *ngIf="attributes.length > 0">check_circle</mat-icon> Attributes
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon *ngIf="packagingCount < 1">radio_button_unchecked</mat-icon>
                <mat-icon *ngIf="packagingCount > 0">check_circle</mat-icon> Packaging <span *ngIf="packagingLoading">&nbsp;loading...</span>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon *ngIf="documentFiles.length < 1">radio_button_unchecked</mat-icon>
                <mat-icon *ngIf="documentFiles.length > 0">check_circle</mat-icon> Documents ({{documentFiles.length}})
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon *ngIf="mediaFiles.length < 1">radio_button_unchecked</mat-icon>
                <mat-icon *ngIf="mediaFiles.length > 0">check_circle</mat-icon> Images ({{mediaFiles.length + imageServerFiles.length}})
              </mat-list-item>
            </mat-list>
          </mat-card-content>          
          <div style="text-align: center;">
            <button mat-raised-button color="primary" (click)="presentation()"><img src="../../../assets/icons/presentation.png" height="40" class="mx-2"> Create Presentation</button>
          </div>
     
          <mat-card-content style="margin-top: 2rem;">
            <hr>
            <h3 style="text-align: center;">Histroy</h3>
            <table>
              <tr>
                <th>Action</th>
                <th>Date</th>
              </tr>
              <tr *ngFor="let x of audits">
                <td>{{x.activity}}</td>
                <td>{{x.created_at | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </table>
          </mat-card-content>          
        </mat-card>

      </div>
    </div>
  </div>

</div>

<div *ngIf="!product">
  <div *ngIf="!productsLoader">
    <h2>🤷‍♂️ Product code "<strong>{{ sku }}</strong>" does not exist.</h2>
    <p>Please make sure the SKU is correct. If you beleave this is the correct product code, please click report this issue.</p>
    <button mat-raised-button color="primary" onclick="alert('Issue reported.')">Report Issue</button>
  </div>
  
</div>
