<div *ngIf="!loggedIn">
    <div class="side-menu">
        
    </div>
</div>

<div *ngIf="loggedIn">
    <div class="side-menu">
        <div style="text-align: center;">
            <!-- <img src="./../../../assets/img/user.png" routerLink="users/manage" height="35"> -->
        </div>
        <mat-selection-list #sideMenus [multiple]="false">
            <mat-list-option class="menu-item" routerLink="/">
                <mat-icon matListIcon>inventory</mat-icon>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option class="menu-item" routerLink="categories/manage">
                <mat-icon matListIcon>account_tree</mat-icon>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option class="menu-item" [matMenuTriggerFor]="usersMenu" *ngIf="authRole">
                <mat-icon matListIcon>groups</mat-icon>
            </mat-list-option>
            <mat-menu #usersMenu="matMenu">
                <button mat-menu-item routerLink="users/manage">
                    <mat-icon matListIcon>group</mat-icon>
                    <span>Manage Users</span>
                </button>
            </mat-menu>
            <mat-divider></mat-divider>
            <mat-list-option class="menu-item" routerLink="admin/settings" *ngIf="settingsRole">
                <mat-icon matListIcon>settings_suggest</mat-icon>
            </mat-list-option>
        </mat-selection-list>
    </div>

</div>
