<div *ngIf="!loggedIn">
    <div class="side-menu">
        
    </div>
</div>

<div *ngIf="loggedIn">
    <div class="side-menu">
        <div style="text-align: center;">
            <!-- <img src="./../../../assets/img/user.png" routerLink="users/manage" height="35"> -->
        </div>
        <mat-selection-list #sideMenus [multiple]="false">
            <!-- <mat-list-option class="menu-item" routerLink="products/dashboard">
                <img matTooltip="Dashboard" src="../../../assets/icons/dashboard.png" height="40" width="40">
            </mat-list-option> -->
            
            <mat-list-option class="menu-item" routerLink="/">
                <img matTooltip="Products" src="../../../assets/icons/box.png" height="33" width="33">
            </mat-list-option>
            
            <mat-list-option class="menu-item" routerLink="categories/manage">
                <img matTooltip="Categories" src="../../../assets/icons/categories.png" height="33" width="33">
            </mat-list-option>
            
            <mat-list-option class="menu-item" [matMenuTriggerFor]="usersMenu" *ngIf="authRole">
                <img matTooltip="Users" src="../../../assets/icons/users.png" height="33" width="33">
            </mat-list-option>
            <mat-menu #usersMenu="matMenu">
                <button mat-menu-item routerLink="users/manage">
                    <mat-icon matListIcon>group</mat-icon>
                    <span>Manage Users</span>
                </button>
            </mat-menu>

            <mat-list-option class="menu-item" routerLink="brands/manage-brands">
                <img matTooltip="Brands" src="../../../assets/icons/brands.png" height="33" width="33">
            </mat-list-option>
            
            <mat-list-option class="menu-item" routerLink="admin/settings" *ngIf="settingsRole">
                <img matTooltip="Settings" src="../../../assets/icons/settings.png" height="33" width="33">
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>
