.side-menu {
  background-color: #ffffff;
  min-height: 200px;
  margin-top: -20px;
  margin-left: 0px;
  margin-right: -25px;
}

.menu-item {
  color: #161616;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-bottom: 4px;
  transition: all 0.5s;
}

.menu-item:hover {
color: #575757;
}

.menu-item:focus {
background-color: #fff1f4;
color: #FAFAFA;
}

mat-label {
  color: rgb(107, 107, 107);
}


