<p>👤 Profile / <span> {{ (user) ? user.name + ' ' + user.surname : '...' }}</span></p>
<p>{{ notFound }}</p>
<div *ngIf="user" class="row">
    <div class="col-md-8">
        <mat-card>
            <h3>{{ (user) ? user.name +"'s": '...'}} Details
                <span style="color: rgb(11, 235, 11); font-size: smaller;" *ngIf="isActive">
                    ✔active
                </span>
                <span style="color: orange; font-size: smaller;" *ngIf="!isActive">
                    ✖inctive
                </span>
            </h3>
            <mat-divider></mat-divider>
            
            <form [formGroup]="userForm">           
                <div class="row pt-3">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Name</mat-label>
                            <input #name matInput formControlName="name" placeholder="User's Name">
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Surname</mat-label>
                            <input #surname matInput formControlName="surname" placeholder="User's Surname">
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input #email matInput formControlName="email" [disabled]="(id)?true:false">
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>ID</mat-label>
                            <input #id matInput formControlName="id" [disabled]="(id)?true:false">
                            <mat-icon matSuffix>key</mat-icon>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Created</mat-label>
                            <input #id matInput formControlName="created_at" readonly>
                            <mat-icon matSuffix>calendar_month</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Updated</mat-label>
                            <input #id matInput formControlName="updated_at" readonly>
                            <mat-icon matSuffix>calendar_month</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="authRole">
                            <mat-form-field appearance="outline" style="width: 15%;">
                                <mat-label>Change Account Status </mat-label>
                                <mat-select #is_active formControlName="is_active" (selectionChange)="account($event)">
                                    <mat-option value="1">Active</mat-option>
                                    <mat-option value="0">Inactive</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <button type="submit" mat-raised-button color="primary" (click)="update()">Update</button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card>
            <h3>User Role</h3>
            <mat-divider></mat-divider>
            <div class="pt-3">
                <ul style="list-style:none;">
                    <li *ngFor="let role of roles">
                        <mat-checkbox [checked]="checkTheBox(role.name)" (change)="setRole($event, role.id)">{{ role.name }}</mat-checkbox>
                    </li>
                </ul>
            </div>
        </mat-card>

    </div>
</div>
